---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Aktivitetskalender" metaDescription="Musholmsbugtensbådeklub aktivitetskalender med opdateringer om de koemmende events">
    <div class="mx-2 md:mx-0 pb-10">
 <h1 class="font-michrona font-bold text-center text-3xl pt-12 mb-9 lg:pt-28 drop-shadow-[0_4px_3px_rgba(0,0,0,0.50)] text-white md:text-5xl  lg:mx-64">Aktiviteter I Musholms bådeklub 2025</h1>




<!-- Dette er en event sektion -->
<!-- Når der skal tilføjes en ny event skal du kopiere hele sektionen til og med -sektion slut- -->
<!-- Sektion start -->
 <div class="wrapper">
    <div class="collapsible">
        <!-- Når du skal tilføje en ny event er det vigtigt at ændre 'collapsible-head1' til det næste tal i rækken(Tjek nederste event for sidste brugte tal). -->
        <input type="checkbox" id="collapsible-head1">
        <!-- Her skal du også ændre 'collapsible-head1' til det samme nummer som du har brugt oven over -->
             <label for="collapsible-head1" class="drop-shadow-[0_4px_3px_rgba(0,0,0,0.50) bg-cyan-800/70 border-white text-white font-roboto  border-4 sm:text-xl  py-4 pl-2 w-[350px] sm:w-[400px] lg:w-[450px]">
                <!-- Her skriver du dato og overskrift på eventen -->
            14 Marts 2025 ┃ Generalforsamling</label>
                <div class="collapsible-text w-[350px] sm:w-[400px] lg:w-[450px] opacity-80 font-roboto text-sky-950">
                    <!-- p står for paragraph, så her er sektionen som indeholde informationen om eventen. Hvis ikke der er noget information, kan dele sektion bare slettes fra 'p start'  til 'p slut'-->
         

            <!-- upload pdf i public mappe og skriv filnavn inde i "" med skråstreg foran. Teksen mellem > <  -->
            <!-- Link dokument start -->
           <!-- <a href="/test.pdf" download>virker det?</a> -->
            <!-- Link dokument slut -->

        </div>
    </div>
 </div>
 <!-- Sektion slut -->




<!-- Sektion start -->
 <div class="wrapper">
    <div class="collapsible">
        <input type="checkbox" id="collapsible-head2">
        <label for="collapsible-head2" class="drop-shadow-[0_4px_3px_rgba(0,0,0,0.50) bg-cyan-800/70 border-white text-white font-roboto  border-4 sm:text-xl  py-4 pl-2 w-[350px] sm:w-[400px] lg:w-[450px]" >
            12 april 2025 ┃ Søsætning af både</label>
        <div class="collapsible-text w-[350px] sm:w-[400px] lg:w-[450px] opacity-80 font-roboto text-sky-950">
              <!-- p start -->
              <p>
Vi nærmer os tiden for årets søsætning - se invitation i linket nedenfor:

            </p>
                 <!-- p slut -->
<!-- Link dokument start -->
            <a href="/sosotning2025.pdf" download>Invitation til Søsætning 2025</a>
            <!-- Link dokument slut -->
        </div>
    </div>
 </div>
  <!-- Sektion slut -->

<!-- Sektion start -->
 <div class="wrapper">
    <div class="collapsible">
        <input type="checkbox" id="collapsible-head3">
        <label for="collapsible-head3" class="drop-shadow-[0_4px_3px_rgba(0,0,0,0.50) bg-cyan-800/70 border-white text-white font-roboto  border-4 sm:text-xl  py-4 pl-2 w-[350px] sm:w-[400px] lg:w-[450px]">
            26 april 2025 ┃ Standerhejsning</label>
        <div class="collapsible-text w-[350px] sm:w-[400px] lg:w-[450px] opacity-80 font-roboto text-sky-950">
              <!-- p start -->
              <p> 
Vi inviterer til standerhejsning 26. april klokken 11 <br> Vel Mødt


            </p>
                 <!-- p slut -->
<!-- Link dokument start -->
            <a href="/Standerhejsning2025.docx" download>Standerhejsning 2025</a>
            <!-- Link dokument slut -->
        </div>
    </div>
 </div>
  <!-- Sektion slut -->

<!-- Sektion start -->
 <div class="wrapper">
    <div class="collapsible">
        <input type="checkbox" id="collapsible-head4">
        <label for="collapsible-head4" class="drop-shadow-[0_4px_3px_rgba(0,0,0,0.50) bg-cyan-800/70 border-white text-white font-roboto  border-4 sm:text-xl  py-4 pl-2 w-[350px] sm:w-[400px] lg:w-[450px]">
            23. juni 2025 ┃ Sankt Hans</label>
        <div class="collapsible-text w-[350px] sm:w-[400px] lg:w-[450px] opacity-80 font-roboto text-sky-950">
              <!-- p start -->
              <p>


            </p>
                 <!-- p slut -->
        </div>
    </div>
 </div>
  <!-- Sektion slut -->


<!-- Sektion start -->
 <div class="wrapper">
    <div class="collapsible">
        <input type="checkbox" id="collapsible-head5">
        <label for="collapsible-head5" class="drop-shadow-[0_4px_3px_rgba(0,0,0,0.50) bg-cyan-800/70 border-white text-white font-roboto  border-4 sm:text-xl  py-4 pl-2 w-[350px] sm:w-[400px] lg:w-[450px]">
            22.-24. august 2025 ┃ Klubtur</label>
        <div class="collapsible-text w-[350px] sm:w-[400px] lg:w-[450px] opacity-80 font-roboto text-sky-950">
              <!-- p start -->
              <p>


            </p>
                 <!-- p slut -->
        </div>
    </div>
 </div>
  <!-- Sektion slut -->



<!-- Sektion start -->
 <div class="wrapper">
    <div class="collapsible">
        <input type="checkbox" id="collapsible-head6">
        <label for="collapsible-head6" class="drop-shadow-[0_4px_3px_rgba(0,0,0,0.50) bg-cyan-800/70 border-white text-white font-roboto  border-4 sm:text-xl  py-4 pl-2 w-[350px] sm:w-[400px] lg:w-[450px]">
            6. september 2025 ┃ Fiskedag</label>
        <div class="collapsible-text w-[350px] sm:w-[400px] lg:w-[450px] opacity-80 font-roboto text-sky-950">
              <!-- p start -->
              <p>


            </p>
                 <!-- p slut -->
        </div>
    </div>
 </div>
  <!-- Sektion slut -->


<!-- Sektion start -->
 <div class="wrapper">
    <div class="collapsible">
        <input type="checkbox" id="collapsible-head7">
        <label for="collapsible-head7" class="drop-shadow-[0_4px_3px_rgba(0,0,0,0.50) bg-cyan-800/70 border-white text-white font-roboto  border-4 sm:text-xl  py-4 pl-2 w-[350px] sm:w-[400px] lg:w-[450px]">
            11. oktober 2025 ┃ Nedhalerfest</label>
        <div class="collapsible-text w-[350px] sm:w-[400px] lg:w-[450px] opacity-80 font-roboto text-sky-950">
              <!-- p start -->
              <p>


            </p>
                 <!-- p slut -->
        </div>
    </div>
 </div>
  <!-- Sektion slut -->
 
<!-- Sektion start -->
 <div class="wrapper">
    <div class="collapsible">
        <input type="checkbox" id="collapsible-head8">
        <label for="collapsible-head8" class="drop-shadow-[0_4px_3px_rgba(0,0,0,0.50) bg-cyan-800/70 border-white text-white font-roboto  border-4 sm:text-xl  py-4 pl-2 w-[350px] sm:w-[400px] lg:w-[450px]">
            18. oktober 2025 ┃ Optagning af både ved Henriks Kranservice</label>
        <div class="collapsible-text w-[350px] sm:w-[400px] lg:w-[450px] opacity-80 font-roboto text-sky-950">
              <!-- p start -->
              <p>


            </p>
                 <!-- p slut -->
        </div>
    </div>
 </div>
  <!-- Sektion slut -->




 <!-- Sektion start -->
 <div class="wrapper">
    <div class="collapsible">
        <input type="checkbox" id="collapsible-head9">
        <label for="collapsible-head9" class="drop-shadow-[0_4px_3px_rgba(0,0,0,0.50) bg-cyan-800/70 border-white text-white font-roboto  border-4 sm:text-xl  py-4 pl-2 w-[350px] sm:w-[400px] lg:w-[450px]">
            3. december 2024 ┃ Julestue, gløgg og æbleskiver, pakkeleg á 30 kr.</label>
        <div class="collapsible-text w-[350px] sm:w-[400px] lg:w-[450px] opacity-80 font-roboto text-sky-950">
              <!-- p start -->
              <p>


            </p>
                 <!-- p slut -->
        </div>
    </div>
 </div>
  <!-- Sektion slut -->

<!-- Indsæt ny event her efter -->



</div>
</MainLayout>


<style>

    p {
        padding-top: 1.25rem;   /* py-5 */
    padding-bottom: 1.25rem; /* py-5 */
    padding-left: 0.75rem;   /* px-3 */
    padding-right: 0.75rem;  /* px-3 */
    }

    a {
        padding-top: 1.25rem;   /* py-5 */
    padding-bottom: 1.25rem; /* py-5 */
    padding-left: 0.75rem;   /* px-3 */
    padding-right: 0.75rem;  /* px-3 */
    text-decoration: underline;
    cursor: pointer;
    color: rgb(0, 123, 210);
    }
    .wrapper {
        display: flex;
        padding-top: 30px;
        justify-content: center;
    }

    .collapsible {
        overflow: hidden;
    }

    .collapsible input {
        display: none;
    }

    .collapsible label {
        position: relative;
        display: block;
        margin-bottom: 10px;
        cursor: pointer;
    }

    .collapsible label:after {
        content: "\25BC";
        position: absolute;
        right: 15px;
        transition: transform 300ms ease-in-out;

        }

        .collapsible label:hover:after {
    transform: scale(1.4); /* 140% size */
}

.collapsible input:checked + label:after {
    transform: rotate(180deg);
}

/* Combine both effects (checked + hover) */
.collapsible input:checked + label:hover:after {
    transform: rotate(180deg) scale(1.4);
}

        .collapsible-text {
            max-height: 1px;
            overflow: hidden;
            line-height: 1.4;
            position: relative;
        }

       .collapsible input:checked ~ .collapsible-text {
        max-height: 300px;
        padding-bottom: 25px;
        background-color: white;

       }


</style>
