---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
    <section class="flex justify-center items-center flex-col bg-white">
        <h1 class="font-michrona font-bold text-center text-3xl pt-12 mb-9 lg:pt-28 drop-shadow-[0_4px_3px_rgba(0,0,0,0.50)] md:text-5xl  lg:mx-64 lg:mb-14 text-cyan-900">Bestyrelsen</h1>

        <section class="flex flex-col gap-10 mb-10 text-cyan-900 md:grid md:grid-cols-3 md:grid-rows-2 mt-10">

            <section class="flex flex-col">
                <p class="font-michrona font-bold ">Formand:</p>
                <p class="font-roboto">Kim Rasmussen</p>
                <p class="font-roboto">kim@kcrentreprise.dk</p>
                <p class="font-roboto">29623381</p>
            </section>

            <section class="flex flex-col">
    <p class="font-michrona font-bold ">Kasserer:</p>
    <p class="font-roboto">Janne Mikkelsen</p>
    <p class="font-roboto">Supernurser@hotmail.com</p>
    <p class="font-roboto">61695429</p>
</section>

<section class="flex flex-col">
    <p class="font-michrona font-bold ">Sektretær:</p>
    <p class="font-roboto">Sven Heiner</p>
    <p class="font-roboto">sven@heiner.dk</p>
    <p class="font-roboto">40321734</p>
</section>



<section class="flex flex-col">
    <p class="font-michrona font-bold ">Bestyrelsesmedlem:</p>
    <p class="font-roboto">Merete Dyrlund</p>
    <p class="font-roboto">merete62@gmail.com</p>
    <p class="font-roboto">30113418</p>
</section>

<section class="flex flex-col">
    <p class="font-michrona font-bold ">Bestyrelsesmedlem:</p>
    <p class="font-roboto">John Pedersen</p>
    <p class="font-roboto">john.pedersen@scj.com</p>
    <p class="font-roboto">20271430</p>
</section>



<section class="flex flex-col">
    <p class="font-michrona font-bold ">Suppleant:</p>
    <p class="font-roboto">Kristian Jensen</p>
    <p class="font-roboto">kkjensen98@gmail.com</p>
    <p class="font-roboto">51740403</p>
</section>


<section class="flex flex-col">
    <p class="font-michrona font-bold ">Suppleant:</p>
    <p class="font-roboto">Flemming Dyrlund</p>
    <p class="font-roboto">merete62@gmail.com</p>
    <p class="font-roboto"> 29719178    </p>
</section>

        </section>
    </section>
</MainLayout>