---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
    <section class="flex justify-center items-center bg-white">
        <h1 class="font-michrona font-bold text-center text-3xl pt-12 mb-9 lg:pt-28 drop-shadow-[0_4px_3px_rgba(0,0,0,0.50)] md:text-5xl  lg:mx-64 lg:mb-14 text-cyan-900">Bestyrelsen</h1>

        <section class="grid grid-cols-4">

        </section>
    </section>
</MainLayout>