---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Indmeldingsblanket" metaDescription="Meld dig ind i Musholmsbugtensbådeklub via vores indmeldingsblanket du kan downloade">
    <section class="bg-white">
        <h1 class="font-michrona font-bold text-center text-3xl pt-12 mb-9 lg:pt-28 drop-shadow-[0_4px_3px_rgba(0,0,0,0.50)] md:text-5xl  lg:mx-64 lg:mb-14 text-cyan-900">Indmeldelsesblanket</h1>
        <p class="flex justify-center items-center font-roboto text-lg mb-6 text-cyan-900">Download indmeldelsesblanket herunder:</p>
        <a href="/Indmeldingsblanket.docx" download class="flex items-center justify-center mb-40 font-roboto underline text-cyan-900">Indmeldelsesblanket</a>
    </section>
</MainLayout>