---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';


---
<MainLayout title="Forside" metaDescription="Musholmbugtensbådeklubs hjemmeside, hvor du finder al information angående klubbens aktiviteter samt kontakt">
<div class="relative w-full aspect-[4/3]">
	<picture>
		<!-- Mobile-first image -->
		<source
		  srcset="/hero1-small.webp"
		  media="(max-width: 768px)"
		  type="image/webp"
		/>
		<!-- Default (desktop) image -->
		<img
		  src="/hero1.webp"
		  alt="Billed fra badebro"
		  width="1280"
		  height="960"
		  class="w-full object-cover h-auto"
		  fetchpriority="high"
		  loading="eager"
		/>
	  </picture>
	<div class="absolute inset-0 sm:mt-24 md:mt-32">
		<h1 class=" font-michrona font-bold text-center text-3xl mt-8 drop-shadow-[0_4px_3px_rgba(0,0,0,0.50)] text-white md:text-5xl lg:text-7xl ">Musholmbugtens <br> Bådeklub</h1>
	<div class="flex flex-row justify-center items-center gap-6 lg:gap-24 mt-14 md:mt-20 lg:mt-28">
	
		<a href="/aktivitetskalender"><Button varient="primary">Aktivitetskalender 2025</Button></a>
		
	<a href="/blanket"><Button varient="primary">Bliv medlem nu!</Button></a>
</div>	
<div class="mr-[0.75rem] mb-[0.75rem] ml-[0.75rem] mt-[1.5rem] flex items-center justify-center font-michrona text-xs text-white sm:mr-11 sm:ml-11 sm:mb-11 sm:mt-11">
	<a
	  href="https://www.facebook.com/share/g/1CBFiGAaUE/?mibextid=wwXIfr"
	  aria-label="Facebook"
	>
	  <Button variant="secondary" aria-label="Knap til Facebook">
		<span class="flex items-center gap-3 md:text-xl lg:text-2xl">
		  Bliv en del af vores Facebook gruppe her:
		  <svg
			class="fill-white"
			xmlns="http://www.w3.org/2000/svg"
			width="30"
			height="30"
			viewBox="0 0 100 100"
			role="img"
			aria-label="Facebook logo"
		  >
			<path
			  d="M38.078 22.431v12.391H29v15.152h9.078V95h18.648V49.975H69.24s1.172-7.265 1.74-15.209H56.797v-10.36c0-1.548 2.033-3.631 4.043-3.631H71V5.001H57.186C37.617 5 38.078 20.167 38.078 22.431"
			/>
		  </svg>
		</span>
	  </Button>
	</a>
  </div>
</div>
</div>


</MainLayout>

