---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
---
<MainLayout title="Forside" metaDescription="Musholmbugtensbådeklubs hjemmeside, hvor du finder al information angående klubbens aktiviteter samt kontakt">
<div class="relative w-full aspect-[4/3] min-[440px]:aspect-[16/9]">
	<img class="w-full object-none min-[440px]:h-auto min-[440px]:object-cover" src="/hero1.webp" alt="Billed fra badebro" width="4032"
    height="3024">	
	<div class="absolute inset-0 sm:mt-24 md:mt-32">
		<h1 class=" font-michrona font-bold text-center text-3xl mt-8 drop-shadow-[0_4px_3px_rgba(0,0,0,0.50)] text-white md:text-5xl lg:text-7xl ">Musholmbugtens <br> Bådeklub</h1>
	<div class="flex flex-row justify-center items-center gap-6 lg:gap-24 mt-14 md:mt-20 lg:mt-28">
	
		<a href="/aktivitetskalender"><Button varient="primary">Aktivitetskalender 2025</Button></a>
		
	<a href="/blanket"><Button varient="primary">Bliv medlem nu!</Button></a>
</div>
	<div class=" m-11 flex items-center justify-center font-michrona font-bold text-xs text-white drop-shadow-[0_4px_3px_rgba(0,0,0,0.80)] gap-4 ">
		<h2 class="md:text-xl lg:text-2xl">Bliv en del af vores Facebook gruppe her:</h2>
		<Button variant="secondary" aria-label="Knap til Facebook">
			
			<a href="https://www.facebook.com/share/g/1CBFiGAaUE/?mibextid=wwXIfr" aria-label="Facebook">
			<svg class="fill-white" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" id="facebook" width="30" height="30" version="1.1" viewBox="0 0 100 100" role="img" aria-label="Facebook logo">
				<defs>
				  <path id="SVGID_1_" d="M0 0h100v100H0z"></path>
				</defs>
				<path d="M38.078 22.431v12.391H29v15.152h9.078V95h18.648V49.975H69.24s1.172-7.265 1.74-15.209H56.797v-10.36c0-1.548 2.033-3.631 4.043-3.631H71V5.001H57.186C37.617 5 38.078 20.167 38.078 22.431"></path>
			  </svg>
				</a>	  
			</Button>
	</div>
</div>
</div>


</MainLayout>

