---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
    <section class="bg-white flex justify-center items-center flex-col">
        <h1 class="font-michrona font-bold text-center text-3xl pt-12 mb-9 lg:pt-28 drop-shadow-[0_4px_3px_rgba(0,0,0,0.50)] md:text-5xl  lg:mx-64 lg:mb-14 text-cyan-900 ">Hvem er Musholmbugtens Bådeklub?</h1>
<p class="font-roboto flex  w-96 mb-40 whitespace-pre-line">Når vi stævner ud fra Mullerup Havn med Musholm til styrbord og kurs mod Storebæltsbroen, er vi i vores es. Havet er vort element - solen vores kompas! 
    <br>
    Klubben kører på frivillig drivkraft og vi har et stort socialt potentiale. 
    Vi har mange arrangementer lige fra fiskekonkurrence til julestue med hjemmebag og ikke mindst året klubtur til en fremmed destination i det danske farvand.
    Når dette er sagt, så er vi en hyggelig social klub for sejlerfolket med tilknytning til Mullerup Havn. Vi har til huse i en helt ny sejlerstue som vi bruger hele året til vores arrangementer både de planlagte og dem der opstår impulsivt.
    Har du lyst at være med i klubben, så er du velkommen – båd eller ej. 
    </p>
    </section>
</MainLayout>