---
---
<div>
    <div>
    <h5 class="font-michrona">Musholmbugtens Bådeklub</h5>
    <p class="font-roboto">CVR: 41950099</p>
    <p class="font-roboto">Klubhus is Mullerup Havn</p>
    <p class="font-roboto">4400 Kalundborg Kommune</p>
</div>

<div>
<h6 class="font-michrona">Kontakt</h6>
<div class="font-roboto">
<p>Janne Mikkelsen</p>
<p>+45 61695490</p>
<p>Mail: Supernurser@hotmail.com</p>
</div>

<div class="font-roboto">
    <p>Kim Rasmussen</p>
    <p>+45 61695490</p>
<p>Mail: Supernurser@hotmail.com</p>
</div>

</div>
</div>




