---
---
<div class="px-7 py-5 bg-cyan-800 text-white">
<div class="flex flex-row justify-between ">
    <div>
        <h5 class="font-michrona text-sm mb-3">Musholmbugtens Bådeklub</h5>
        <p class="font-roboto text-xs">CVR: 41950099</p>
        <p class="font-roboto text-xs">Klubhus is Mullerup Havn</p>
        <p class="font-roboto text-xs">4400 Kalundborg Kommune</p>
    </div>

    <div class="flex flex-col">
        <div class="flex flex-col md:flex-row">
            <h6 class="font-michrona text-sm mb-3">Kontakt</h6>
                <div class="font-roboto text-xs mb-3">
                  <p>Janne Mikkelsen</p>
                    <p>+45 61695490</p>
                    <p>Mail: Supernurser@hotmail.com</p>
                 </div>

                <div class="font-roboto text-xs">
                    <p>Kim Rasmussen</p>
                    <p>+45 61695490</p>
                    <p>Mail: Supernurser@hotmail.com</p>
                </div>
        </div>
    </div>
</div>
<p class="text-xs flex justify-center items-center mt-6 opacity-50">Hjemmeside kodet og designet af: Ida Mikkelsen 61695429</p>
</div>




