---
---
<div class="px-7 py-5 bg-cyan-800 text-white lg:px-28">
<div class="flex flex-row justify-between ">
    <div>
        <p class="font-michrona text-sm mb-3 lg:text-lg">Musholmbugtens Bådeklub</p>
        <p class="font-roboto text-xs lg:text-sm">CVR: 41950099</p>
        <p class="font-roboto text-xs lg:text-sm">Klubhus i Mullerup Havn</p>
        <p class="font-roboto text-xs lg:text-sm">4400 Kalundborg Kommune</p>
    </div>

    <div class="flex flex-col">
        <div class="flex flex-col ">
            <p class="font-michrona text-sm mb-3 lg:text-lg ">Kontakt</p>
            <div class="flex flex-col lg:flex-row lg:gap-12">
                <div class="font-roboto text-xs mb-3 lg:text-sm">
                    <p>Kasserer:</p>
                  <p>Janne Mikkelsen</p>
                    <p>+45 61695490</p>
                    <p>Mail: Supernurser@hotmail.com</p>
                 </div>

                <div class="font-roboto text-xs lg:text-sm">
                    <p>Formand:</p>
                    <p>Kristian Jensen</p>
                    <p>+45 51740403</p>
                    <p>Mail: kkjensen98@gmail.com</p>
                </div>
                <div class="font-roboto text-xs lg:text-sm">
                    <p>Næstformand:</p>
                    <p>Merete Dyrlund</p>
                    <p>+45 29719178</p>
                    <p>Mail: merete62@gmail.com</p>
                </div>
                <div class="font-roboto text-xs lg:text-sm">
                    <p>Sektretær:</p>
                    <p>John Pedersen</p>
                    <p>+45 20271430</p>
                    <p>Mail: john.pedersen@scj.com</p>
                </div>
            </div>
        </div>
    </div>
</div>
<p class="text-xs flex justify-center items-center mt-6 opacity-50">Hjemmeside kodet og designet af: Ida Mikkelsen 61695429</p>
</div>




