<nav class="flex flex-row justify-center items-center">
    <ul>
        
 <li> <a href="/galleri">Galleri</a></li>
 <li>   <a href="">Aktivitetskalender</a></li>
 <li>    <a href="/kontakt">Kontakt</a></li><li> <a href="/klubben">Klubben ▼</a>  
            <ul class="dropdown">
                <li><a class="" href="">Vedtægter</a> </li>
                <li><a href="">Bestyrelsen</a></li>
                <li> <a href="/indmeldelsensblanket"> Indmeldelse</a> </li>    
    
    </ul> </li>
</ul>
</nav>

<style>
    ul {
        list-style: none;
        background: red;
    }

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    padding: 20px 25px;
    text-decoration: none;
    text-align: center;
    
}

ul li ul.dropdown li {
    display: block;
}
ul li ul.dropdown {
    width: 100%;
    background-color: red;
    position: absolute;
    z-index: 999;
    display: none;
    padding: 0;
}

ul li a:hover {
    background: red;
}

ul li:hover ul.dropdown {
    display: block;
}
</style>
