<nav class="flex justify-between items-center font-roboto text-sky-950 px-4 py-2 bg-white">
    <a href="/">
        <img class="w-16 lg:w-32" src="/logo.png" alt="Knap til forsiden" width="300"
        height="152"></a>
    <ul class=" space-x-7 text-sm lg:text-lg md:px-16 md:space-x-16">
      
        
 <li> <a href="/gallery">Galleri</a></li>
 <li>   <a href="/aktivitetskalender">Aktivitetskalender</a></li>
<li> <a href="/klubben">Klubben ▼</a>  
            <ul class="dropdown space-y-5 px-4 ml-[-20px] pt-5 pb-5">
                <li><a class="" href="/vedtegt">Vedtægter</a> </li>
                <li><a href="/bestyrelse">Bestyrelsen</a></li>
                <li> <a href="/blanket"> Indmeldelse</a> </li>    
    
    </ul> </li>
</ul>
</nav>

<style>
    ul {
        list-style: none;
        background: white;
    }

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    text-decoration: none;
    text-align: center;
    
}

ul li ul.dropdown li {
    display: block;
}
ul li ul.dropdown {
    background-color: white;
    position: absolute;
    z-index: 999;
    display: none;}

ul li a:hover {
    background: white;
}

ul li:hover ul.dropdown {
    display: block;
}
</style>
