<nav class="flex justify-center items-center">
    <ul class="py-4 px-9 rounded-full space-x-7 text-[12px] md:text-[15px] md:px-16 md:space-x-16">
        
 <li> <a href="/galleri">Galleri</a></li>
 <li>   <a href="">Aktivitetskalender</a></li>
 <li>    <a href="/kontakt">Kontakt</a></li><li> <a href="/klubben">Klubben ▼</a>  
            <ul class="dropdown space-y-5 rounded-md px-4 ml-[-40px]">
                <li><a class="" href="">Vedtægter</a> </li>
                <li><a href="">Bestyrelsen</a></li>
                <li> <a href="/indmeldelsensblanket"> Indmeldelse</a> </li>    
    
    </ul> </li>
</ul>
</nav>

<style>
    ul {
        list-style: none;
        background: red;
    }

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    text-decoration: none;
    text-align: center;
    
}

ul li ul.dropdown li {
    display: block;
}
ul li ul.dropdown {
    background-color: red;
    position: absolute;
    z-index: 999;
    display: none;}

ul li a:hover {
    background: red;
}

ul li:hover ul.dropdown {
    display: block;
}
</style>
